body {
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.devices {
    color: white;
    font-family: Open Sans;
    align-items: center;
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 13px;
}

.devices-preview {
    display: grid;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    place-items: center flex-start;
    text-align: center;
}

.preview {
    border-radius: 15px;
    border-style: solid;
    border-color: white;
}

.alioth,
.lmi,
.apollo,
.munch {
    text-align: center;
    width: 200px;
    height: 30px;
    font-family: Open Sans;
    color: white;
    font-size: 20px;
    width: 300px;
}